body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: blue;
    color:black;
    padding: 70px;
    text-align: center;
    font-size: 24px;
     font-weight: bold;
}

/* Boxes */
.boxes {
    display: flex;
    padding: 0px;
}

.box {
    width: 40%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

/* Individual colors */
.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
   
}

/* Content */
.content {
    background-color: orange;
    padding:80px;
    text-align: center;
    font-size: 20px;
     font-weight: bold;
}

/* Footer */
.footer {
    background-color: red;
    color: black;
    padding: 60px;
    text-align: center;
    font-size: 20px;
     font-weight: bold;
}